<template>
    <div class="chatbox">
        <div class="chatbox__feed">
            <div class="chatbox__scroll">
                <div class="chatbox__message" v-for="(post, key) of feed" :key="key"
                     :class="name == post.author ? 'active' : ''">
                    <span>{{ name == post.author ? 'Me' : post.author }}</span>
                    <p :key="key">{{ post.message }}</p>
                </div>

            </div>
            <span :class="someoneIsWriting ? 'active' : ''"
                  class="chatbox__writing">Someone is writing...</span>
        </div>
        <form class="chatbox__form" @submit.prevent="postMessage">
            <input type="text" placeholder="Your message..." v-model="message"/>
            <button type="submit" :disabled="message == ''">Send</button>
        </form>
    </div>
</template>


<script>

    import {mapGetters, mapActions} from 'vuex'

    export default {
        props: ['name'],
            data(){
                return {
                    message: '',
                    isWriting: false,
                    someoneIsWriting: false
                }
            },
            computed: {
                    ...mapGetters({
                        feed: 'chat/feed',
                        writers: 'chat/writers'
                    })
        },

        methods: {
            ...mapActions({
                storePostMessage: 'chat/postMessage',
                storeAddWriter: 'chat/addWriter',
                storeRemoveWriter: 'chat/removeWriter'
            }),
            postMessage(){ // Post new message
                if (this.message != '') {
                    this.storePostMessage({message: this.message, author: this.name});
                    this.message = "";
                } else {
                    alert('Your message is empty !');
                }
            }
        },

        watch: {
            message(){
              this.isWriting = this.message != '';
            },
            isWriting(){
                if(this.isWriting){
                    this.storeAddWriter(this.name);
                }else{
                    this.storeRemoveWriter(this.name);
                }
            },
            writers(){
                var othersWritersCount = this.writers.length - (this.isWriting ? 1 : 0);
                console.log('writrs change', this.writers, this.isWriting, othersWritersCount)
                this.someoneIsWriting = othersWritersCount > 0;

            },
            feed(){ // On new message
                let self = this;
                setTimeout(function(){
                    self.$el.querySelector('.chatbox__scroll').scrollTop = 99999
                }, 1);

            }
        }
    }
</script>