.chatbox{
  &__feed{
    height: 400px;
    border: 1px solid $grey-border;
    background: white;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
  }
  &__scroll{
    overflow: auto;
    width: 100%;
    height: auto;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__writing{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: rem(10);
    background: $grey-light;
    text-align: center;
    line-height: rem(14);
    transition: all 300ms $easeInOutCubic;
    transform: translateY(100%);
    &.active{
      transform: translateY(0);
    }
  }
  &__message{
    margin: 5px 0;
    p{
      background: $grey-light;
      color: $grey-dark;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: rem(14);
    }
    span{
      color: $grey-medium;
      display: block;
      margin-bottom: 2px;
      font-weight: 500;
      font-size: rem(10);
      padding: 0 10px;
    }
    &.active{
      align-self: flex-end;
      text-align: right;
      p{
        background: $blue;
        color: white;
      }
    }
  }
  &__form{
    margin-top: 10px;
    border: 1px solid $grey-border;
    display: flex;
    border-radius: 3px;
    input{
      display: block;
      width: 100%;
      height: 50px;
      padding: 0 20px;
      box-sizing: border-box;
      border: none;
      font-size: rem(14);
      outline: none;
    }
    button{
      font-weight: 700;
      cursor: pointer;
      outline: none;
      display: block;
      text-align: center;
      text-transform: uppercase;
      background: $grey-dark;
      color: white;
      border-radius: 0 3px 3px 0;
      padding: 0 15px;
      transition: all 50ms linear;
      &:disabled{
        opacity: 0.3;
      }
    }
  }
}