html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background: $grey-light;
  font-family: arial, sans-serif;
}

.container{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  &--fluid{
    width: 100%;
    padding: 0 40px;
  }
  @media #{$small-width} {
    padding: 0 20px;
  }
}