// Breakpoints
$xs-width : 320px; // x-small width
$s-width : 768px; // small width
$m-width : 992px; // medium width
$l-width : 1200px; // large width
$xl-width : 1600px; // xlarge width

// Media queries
$x-small-width : "only screen and (max-width:#{$xs-width - 1})";
$small-width : "only screen and (max-width:#{$s-width - 1})";
$min-small-width : "only screen and (min-width:#{$s-width})";
$medium-width : "only screen and (max-width:#{$m-width - 1})";
$min-medium-width : "only screen and (min-width:#{$m-width})";
$large-width : "only screen and (min-width:#{$l-width})";
$x-large-width : "only screen and (min-width:#{$xl-width})";

// Css easings
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);

// Colors
$grey-medium: #AAAAAA;
$grey-border: #d3d3d3;
$grey-light: #f0f0f0;
$grey-dark: #202020;
$blue: #0800d9;
$red: #b5001e;

// Fonts
$proxima: 'Proxima Nova';
