.home{
  display: flex;
  padding: 60px 0;
  &__col{
    padding: 0 20px;
    width: 50%;
    box-sizing: border-box;
  }
  &__title{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: 600;
    text-align: center;
  }
  &__clear{
    position: fixed;
    top: 20px;
    right: 20px;
    background: $red;
    color: white;
    padding: 0 15px;
    text-transform: uppercase;
    line-height: rem(28);
    font-size: rem(13);
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms $easeInOutCubic;
    transform: translateX(15px);
    &.active{
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}