<template>

  <section class="home container">
    <button class="home__clear" @click="storeClearFeed()" :class="feed.length > 0 ? 'active' : ''">Clear chat</button>
    <div class="home__col">
      <p class="home__title">Chat A</p>
      <chat-box :name="'Chat A'"></chat-box>
    </div>
    <div class="home__col">
      <p class="home__title">Chat B</p>
      <chat-box :name="'Chat B'"></chat-box>
    </div>
    <div class="home__col">
      <p class="home__title">Chat C</p>
      <chat-box :name="'Chat C'"></chat-box>
    </div>
  </section>
</template>

<script>
import ChatBox from '~/components/ChatBox.vue'
import {mapGetters, mapActions} from 'vuex'

export default {
  components: {ChatBox},
  computed: {
          ...mapGetters({
            feed: 'chat/feed'
          }),
  },
  methods: {
          ...mapActions({
            storeInitFeed: 'chat/initFeed',
            storeClearFeed: 'chat/clearFeed'
          })
  },
  mounted(){
    let localstorageFeed = localStorage.getItem('iadvise_feed');
    if(localStorage.getItem('iadvise_feed')){
      this.storeInitFeed(JSON.parse(localstorageFeed));
    }
  }
}
</script>
